<div ng-include = "'./components/includes/_header.html'"></div>

<body>

      <!--==========================
      Video Header Section
    ============================-->
  <section id="videoheader">
      <div class="row" id="vid">
 

        <div class="col-12 about-img">
          <img src="../../sources/img/Header Vals.jpg" alt="" class="imagenheader">
        </div>
      </div>
  </section>

    <!--==========================
      Sobre nosotros Section
    ============================-->

  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="../../sources/img/lollipop2.png" alt="">
        </div>

        <div class="col-lg-6 content">
          <h2 class="Nosotros">Sobre Nosotros</h2>
          <h3>Una funeraria para celebrar la mejor parte de la vida. ¡MORIRSE!</h3>

          <ul>
            <li><i class="ion-android-checkmark-circle"></i> Muérase tranquilo, nosotros nos encargamos de todo.</li>
            <li><i class="ion-android-checkmark-circle"></i> No se muera mañana si puede morirse hoy.</li>
            <li><i class="ion-android-checkmark-circle"></i> Desde nuestra excelente ubicción en Silent Hill le ofrecemos las mejores instalaciones y los más modernos servicios para sus difuntos, aunque qué importa, no podrán disfrutarlos.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
      Servicios Section
    ============================-->
    <section id="services">
        <div class="container boxfix">
          <div class="section-header">
            <h2 class="Servi">Servicios</h2>
            <p>En EL VALS DE LOS MUERTOS nos sentimos complacidos de que sus difuntos, tengan el mejor día de sus post-vidas. Nuestros clientes son la envidia de los demás dolientes, quiénes no pueden esperar por que un ser querido muera para acceder a nuestro increíble catálogo de servicios</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft muertos text-center boxfix">


                <p class="description">Todos sus muertitos pueden ser registrados en nuestro sistema y de esa forma, acceder a muchos servicios que lo harán sentir más vivo que nunca.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft entierros">

                <p class="description">Estar muerto no es excusa para dejar el glamour. Nuestros entierros son mundialmente reconocidos por hacer de tu viaje final, un viaje con estilo.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft retoques" data-wow-delay="0.2s">

                <p class="description">Nunca más te dirán que tienes cara de muerto, con nuestras sesiones de maquillaje, peluquería y demás, tu muertito será el más guapo en las puertas del Valhalla.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInRight infierno" data-wow-delay="0.2s">

                <p class="description">Le damos un nuevo significado a festejar hasta morir, con nuestras fiestas para celebrar el descenso de su muertito a su tortura eterna.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->


          <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                  <h3 class="cta-title">No olvides registrarte</h3>
                  <p class="cta-text"> Nuestro infernal sistema, te permitirá acceder  nuestros servicios y tener una cuenta en la Funeraria EL VALS DE LOS MUERTOS.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                  <a class="cta-btn align-middle" href="#">Regístrese</a>
                </div>
              </div>
      
            </div>
          </section><!-- #call-to-action -->

          <!--==========================
      Testimonios Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
            <div class="container">
              <div class="section-header servicescolor">
                <h2 class="testi">Testimonios</h2>
                <p>Nuestros clientes van desde monstruos, zombies, vampiros y demás gente linda del inframundo, sus opiniones nos hacen caer muertos de la felicidad.</p>
              </div>
              <div class="row testimonials-carousel">
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      
                      Cuando alguien accidentalmente muere en mi casa siempre acudimos a la funeraria, dado que son amables, serviciales y sobretodo no hacen preguntas innecesarias.
                      
                    </p>
                    <img src="../../sources/img/morticia.jpg" class="testimonial-img" alt="">
                    <h3>Morticia</h3>
                    <h4>Madre de Familia</h4>
                  </div>
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      
                      Mis amigos del club de asesinos seriales siempre acudimos al Vals de los Muertos por sus lindos entierros y especialmente sus fiestas que son de morirse.
                      
                    </p>
                    <img src="../../sources/img/freddy.jpg" class="testimonial-img" alt="">
                    <h3>Freddy Kruger</h3>
                    <h4>Asesino</h4>
                  </div>
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      
                      EEEERRRRR AAAARHHHHHHHGGGGG AAAARRRRRRRRHHHH RECOMENDADOOOOOO!!!
                      
                    </p>
                    <img src="../../sources/img/frankesteins.jpg" class="testimonial-img" alt="">
                    <h3>Frankestein</h3>
                    <h4>Monstruo</h4>
                  </div>
      
                  <div class="col-lg-5 testimonial-item">
                    <p>
                      
                      Si algún día me disparan con una bala de plata o me clavan una estaca en el corazón, quisiera dejar de ser inmortal sólo por para acceder a los maravillosos servicios de EL VALS.
                      
                    </p>
                    <img src="../../sources/img/Conde-Dracula.jpg" class="testimonial-img" alt="">
                    <h3>Drácula</h3>
                    <h4>Conde</h4>
                  </div>
      
          
      
              </div>
      
            </div>
          </section><!-- #testimonials -->

        
  
  
</body>



<div ng-include="'./components/includes/_footer.html'"></div>