
<footer>
   <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2 class="colorfooter1">Contáctenos</h2>
            <p class="colorfooter1">Le esperamos en horario de 6:00 p.m a 5:00 a.m puesto que nuestros empleados duermen de día y salen en la noche</p>
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3 class="colorfooter1">Dirección</h3>
                <address class="colorfooter1">666 Silent Hill, PA 535022, USA</address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3 class="colorfooter1">Teléfono</h3>
                <p class="colorfooter1"><a href="tel:+155895548855">+1 666-ULTRATUMBA</a></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p><a href="mailto:info@example.com">vlad@elvalsdelosmuertos.com</a></p>
              </div>
            </div>
  
          </div>
        </div>

</footer>


