<div ng-include="'./components/includes/_header.html'"></div>

<section class="container mt-5 pt-5" id="">
  <div class="row">
    <div class="col-6">
      <form class="form-horizontal row container" ng-submit="vm.registrarFiesta(vm.nuevaFiesta)">
        <div class="">
          <div class="form-group">
            <label for="">Fecha</label>
            <input class="form-control effect6" type="date" ng-model="vm.nuevaFiesta.fecha" required>
          </div>

          <div class="form-group">
            <label for="">Duracion en horas</label>
            <input class="form-control effect6" type="number" ng-model="vm.nuevaFiesta.duracion" required>
          </div>

          <div class="form-group">
            <p>Seleccione su animador</p>
            <p ng-repeat="animador in vm.listaAnimador">
              <input type="checkbox" data-checklist-model="vm.nuevaFiesta.animador" data-checklist-value="animador" class="radio-inline"> {{animador.apodo}} {{animador.costo}}
            </p>

          </div> 
          <div class="form-group">
            <div class="nav">
            <p>Seleccione la casilla de abajo si desea pagar en efectivo</p>
          </div>
            <p>
              <input type="checkbox" ng-model="vm.descuento" class="radio-inline">Pago en Efectivo {{vm.descuento}}
            </p>
          </div>
          <button class="btn buttonall" type="submit">Agregar Fiesta</button>

        </div>

      </form>

    </div>
    </form>


    <div class="col-6">
      <h2>Costos</h2>
        <ul>
          <li>Costo por Hora = {{vm.costoPorHora}}</li>
          <li>Costo Total = {{vm.costoTotal}}</li>
  
        </ul>

    </div>

    <p class="col-12">Recuerde que el precio final puede variar de acuerdo a los Animadores Seleccionados</p>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Duracion</th>
            <th>Costo</th>
            <th>Animador</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fiesta in vm.listaFiestas">
            <td>{{fiesta.fecha}}</td>
            <td>{{fiesta.duracion}}</td>
            <td>{{fiesta.costo}}</td>
            <td>
              <p ng-repeat="animador in fiesta.animador">
                {{animador.apodo}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</section>
<div ng-include="'./components/includes/_footer.html'"></div>